body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #fdf3e7;
    text-align: center;
    width: 1920px;
    height: 1322px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 228px;
    /* background-color: aqua; */
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
.button{
    width: 150px;
    height: 64px;
    color: white;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    padding: 18px 35px;
}
/* this is banner styles */
.banner, .section-end {
    margin: 130px 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.banner-info{
    
}
.banner-img img{
    width: 1240px;
    height: 700px;
}

/* where is Quick list of Our
Features */
.first-section{
    display: flex;
    align-items: center;
}
.four-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-items: center;
    margin-left: 200px;
    margin-top: 85px;

}
.four-img img{
    width: 342px;
    height: 342px;
}
/* this is class="first-section-info */
.first-section-info{
    text-align: center;    
    /* align-content: center; */
    width: 537px;
    height: 304px;
    margin-left: 73px;
}
.text-one{
    color: #727272;
    font-size: 45px;
}
.text-two{
    color: #131313;
    font-size: 45px;
}
.text-three{
    font-size: 45px;
    color: #FF900E;
}
.first-section-des{
    font-size: 16px;
    color: #727272;
}

/* -------------
       second-section
----------------- */
.second-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 130px 240px;
    flex-direction: column;
    gap: 5px;
}
.second-section-part-one{
    /* gap: 54px; */
    /* margin-right: 54px; */
    /* padding-right: 54px; */
}
.second-top-title, 
.some-facts{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.second-section-des{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.second-section-img{
    width: 708px;
    height: 982px;
}
.button-big{
    width: 342px;
    height: 200px;
    color: white;
    background-color: #FD6E0A;
    font-weight: 700px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    padding: 18px 35px;
}
.button-title{
    font-weight: 700;
    font-size: 65px;
}
.button-des{
    font-weight: 500;
    font-size: 25px;
}

/*------------- 
          some-facts
---------------*/
.facts-div{
    /* margin: 130px 200px; */
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.some-facts{
    margin-bottom: 24px;
}

/*----------- 
        section-box
-------------- */
.section-box-s{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    margin: 130px 200px;
    padding-bottom: 200px;
    /* display: flex;
    flex-direction: column; */
    gap: 100px;
}
.section-box{
    text-align: center;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.box{
    margin-top: 20px;
    align-items: center;
}

.box-title{
    font-weight: 600px;
    font-size: 45px;
}
.box-des{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* --------
        Our Sponspors
----------*/
.our-sponspors{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
/*------------
    footer
-------------*/
.footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.footer-main{
    width: 1440px;
    height: 100px;
    background-color:#FFF4E7;
    border-radius: 8px;
}
.footer-des{
    display: flex;
    flex-direction: column;
    font-weight: 400px;
    font-size: 20px;
    padding-top: 40px;
    color: #424242;
    
}


/* -----------
    responsive
--------------*/
@media screen and (max-width:576px){
    .header{
        background-color: #fdf3e7;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .banner, .section-end {
        margin: 0;
        display: flex;
        flex-direction: column;/
        gap: 5px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 0;
        flex-direction: column;
        /* background-color: aqua; */
    }
    ul{
        flex-direction: column;
    }
    .four-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        justify-items: center;
        margin-left: 15px;
        
    }
    .first-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .first-section-info{
        text-align: center;    
        /* align-content: center; */
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .second-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        flex-direction: column;
        gap: 5px;
    }
    .second-section-part-one{
        gap: 54px;
        margin-right: 254px;
        padding-right: 54px;
    }
    .second-section-img{
        width: 100%;
        height: 100%;
    }
    .button-big{
        width: 170px;
        height: 80px;
        color: white;
        background-color: #FD6E0A;
        /* font-weight: 700px;
        font-size: 20px;
        border: 0; */
        border-radius: 8px;
        padding: 18px 35px;
    }
    .button-title{
        font-weight: 100%;
        font-size: 100%;
    }
    .button-des{
        font-weight: 100%;
        font-size: 100%;
    }
    /* ------------------ */
    .facts-div{
        /* margin: 130px 200px; */
        margin-left: 0;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .section-box-s{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: absolute;
        margin: 0;
        padding-bottom: 200px;
        /* display: flex;
        flex-direction: column; */
        gap: 100px;
    }
    .our-sponspors{
        /* display: flex; */
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1400px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    
    }
    /* this is footer */
    .footer{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .footer-main{
        width: 100%;
        height: 100%;
        background-color:#FFF4E7;
        border-radius: 8px;
    }
    .footer-des{
        display: flex;
        flex-direction: column;
        font-weight: 400px;
        font-size: 20px;
        padding-top: 40px;
        color: #424242;
        
    }
    
}    
